## Import Dependencies

In [2]:
import pandas as pd

## Red Wine

**Import Red Wine CSV File and Convert to Pandas DataFrame**

In [4]:
red_wine_csv = 'Resources/winequality-red.csv'
red_wine_df = pd.read_csv(red_wine_csv, sep = ';')
red_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1069,8.0,0.62,0.35,2.8,0.086,28.0,52.0,0.99700,3.31,0.62,10.8,5
182,7.2,0.73,0.02,2.5,0.076,16.0,42.0,0.99720,3.44,0.52,9.3,5
291,11.0,0.20,0.48,2.0,0.343,6.0,18.0,0.99790,3.30,0.71,10.5,5
967,8.5,0.66,0.20,2.1,0.097,23.0,113.0,0.99733,3.13,0.48,9.2,5
1387,7.4,0.64,0.07,1.8,0.100,8.0,23.0,0.99610,3.30,0.58,9.6,5
1569,6.2,0.51,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
418,11.9,0.38,0.51,2.0,0.121,7.0,20.0,0.99960,3.24,0.76,10.4,6
672,9.8,1.24,0.34,2.0,0.079,32.0,151.0,0.99800,3.15,0.53,9.5,5
475,9.6,0.68,0.24,2.2,0.087,5.0,28.0,0.99880,3.14,0.60,10.2,5
560,12.7,0.60,0.49,2.8,0.075,5.0,19.0,0.99940,3.14,0.57,11.4,5

**Check Datatypes**

In [6]:
red_wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

**Check For Missing Rows of Data**

In [9]:
red_wine_df.notnull().count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

**Add Wine Color Column**

In [10]:
red_wine_df['wine color'] = 'red'
red_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine color
600,8.2,0.915,0.27,2.1,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4,red
391,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.00140,3.06,0.80,10.0,6,red
199,6.9,1.090,0.06,2.1,0.061,12.0,31.0,0.99480,3.51,0.43,11.4,4,red
627,8.8,0.600,0.29,2.2,0.098,5.0,15.0,0.99880,3.36,0.49,9.1,5,red
143,6.3,0.390,0.08,1.7,0.066,3.0,20.0,0.99540,3.34,0.58,9.4,5,red
479,9.4,0.685,0.11,2.7,0.077,6.0,31.0,0.99840,3.19,0.70,10.1,6,red
1440,7.2,0.370,0.32,2.0,0.062,15.0,28.0,0.99470,3.23,0.73,11.3,7,red
813,6.9,0.390,0.24,2.1,0.102,4.0,7.0,0.99462,3.44,0.58,11.4,4,red
1543,11.1,0.440,0.42,2.2,0.064,14.0,19.0,0.99758,3.25,0.57,10.4,6,red
423,10.5,0.240,0.47,2.1,0.066,6.0,24.0,0.99780,3.15,0.90,11.0,7,red

## White Wine