## Import Dependencies

In [2]:
import pandas as pd

## Red Wine

**Import Red Wine CSV File and Convert to Pandas DataFrame**

In [4]:
red_wine_csv = 'Resources/winequality-red.csv'
red_wine_df = pd.read_csv(red_wine_csv, sep = ';')
red_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1069,8.0,0.62,0.35,2.8,0.086,28.0,52.0,0.99700,3.31,0.62,10.8,5
182,7.2,0.73,0.02,2.5,0.076,16.0,42.0,0.99720,3.44,0.52,9.3,5
291,11.0,0.20,0.48,2.0,0.343,6.0,18.0,0.99790,3.30,0.71,10.5,5
967,8.5,0.66,0.20,2.1,0.097,23.0,113.0,0.99733,3.13,0.48,9.2,5
1387,7.4,0.64,0.07,1.8,0.100,8.0,23.0,0.99610,3.30,0.58,9.6,5
1569,6.2,0.51,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
418,11.9,0.38,0.51,2.0,0.121,7.0,20.0,0.99960,3.24,0.76,10.4,6
672,9.8,1.24,0.34,2.0,0.079,32.0,151.0,0.99800,3.15,0.53,9.5,5
475,9.6,0.68,0.24,2.2,0.087,5.0,28.0,0.99880,3.14,0.60,10.2,5
560,12.7,0.60,0.49,2.8,0.075,5.0,19.0,0.99940,3.14,0.57,11.4,5

**Check Datatypes**

In [6]:
red_wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

**Check For Missing Rows of Data**

In [9]:
red_wine_df.notnull().count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

**Add Wine Color Column**

In [10]:
red_wine_df['wine color'] = 'red'
red_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine color
600,8.2,0.915,0.27,2.1,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4,red
391,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.00140,3.06,0.80,10.0,6,red
199,6.9,1.090,0.06,2.1,0.061,12.0,31.0,0.99480,3.51,0.43,11.4,4,red
627,8.8,0.600,0.29,2.2,0.098,5.0,15.0,0.99880,3.36,0.49,9.1,5,red
143,6.3,0.390,0.08,1.7,0.066,3.0,20.0,0.99540,3.34,0.58,9.4,5,red
479,9.4,0.685,0.11,2.7,0.077,6.0,31.0,0.99840,3.19,0.70,10.1,6,red
1440,7.2,0.370,0.32,2.0,0.062,15.0,28.0,0.99470,3.23,0.73,11.3,7,red
813,6.9,0.390,0.24,2.1,0.102,4.0,7.0,0.99462,3.44,0.58,11.4,4,red
1543,11.1,0.440,0.42,2.2,0.064,14.0,19.0,0.99758,3.25,0.57,10.4,6,red
423,10.5,0.240,0.47,2.1,0.066,6.0,24.0,0.99780,3.15,0.90,11.0,7,red

## White Wine

**Import Red Wine CSV File and Convert to Pandas DataFrame**

In [13]:
white_wine_csv = 'Resources/winequality-white.csv'
white_wine_df = pd.read_csv(white_wine_csv, sep = ';')
white_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4672,4.9,0.335,0.14,1.30,0.036,69.0,168.0,0.99212,3.47,0.46,10.466667,5
2223,6.9,0.230,0.33,12.80,0.056,44.0,169.0,0.99800,3.42,0.42,9.800000,6
435,6.9,0.200,0.37,6.20,0.027,24.0,97.0,0.99200,3.38,0.49,12.200000,7
3393,8.0,0.280,0.30,8.40,0.030,35.0,115.0,0.99192,2.93,0.42,12.300000,6
4054,7.2,0.170,0.28,17.55,0.050,33.0,154.0,0.99971,2.94,0.43,9.000000,7
3557,8.1,0.200,0.28,0.90,0.023,49.0,87.0,0.99062,2.92,0.36,11.100000,6
1479,7.7,0.160,0.49,2.00,0.056,20.0,124.0,0.99480,3.32,0.49,10.700000,6
1563,7.8,0.300,0.74,1.80,0.033,33.0,156.0,0.99100,3.29,0.52,12.800000,6
133,6.6,0.240,0.27,15.80,0.035,46.0,188.0,0.99820,3.24,0.51,9.200000,5
2795,6.4,0.220,0.32,7.20,0.028,15.0,83.0,0.99300,3.13,0.55,10.900000,8

**Check Datatypes**

In [14]:
white_wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

**Check For Missing Rows of Data**

In [16]:
white_wine_df.notnull().count()

fixed acidity           4898
volatile acidity        4898
citric acid             4898
residual sugar          4898
chlorides               4898
free sulfur dioxide     4898
total sulfur dioxide    4898
density                 4898
pH                      4898
sulphates               4898
alcohol                 4898
quality                 4898
dtype: int64

**Add Wine Color Column**

In [17]:
white_wine_df['wine color'] = 'white'
white_wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine color
3728,6.2,0.200,0.33,5.40,0.028,21.0,75.0,0.99012,3.36,0.41,13.5,7,white
2473,6.0,0.290,0.21,15.55,0.043,20.0,142.0,0.99658,3.11,0.54,10.1,6,white
2499,6.9,0.260,0.31,7.00,0.039,37.0,175.0,0.99376,3.32,0.49,11.4,6,white
2668,9.6,0.655,0.21,2.00,0.039,21.0,120.0,0.99188,3.00,1.00,12.6,6,white
289,7.2,0.230,0.39,14.20,0.058,49.0,192.0,0.99790,2.98,0.48,9.0,7,white
3608,7.0,0.160,0.25,14.30,0.044,27.0,149.0,0.99800,2.91,0.46,9.2,6,white
173,6.3,0.220,0.43,4.55,0.038,31.0,130.0,0.99180,3.35,0.33,11.5,7,white
4542,6.9,0.280,0.37,9.10,0.037,16.0,76.0,0.99480,3.05,0.54,11.1,5,white
2196,7.0,0.220,0.26,1.10,0.037,20.0,71.0,0.99020,3.10,0.38,11.7,6,white
1344,7.3,0.230,0.37,1.90,0.041,51.0,165.0,0.99080,3.26,0.40,12.2,8,white

## Con Red and White Wine DataFrames

In [18]:
wine_df = pd.concat([red_wine_df, white_wine_df], ignore_index = True)
wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine color
6223,6.4,0.40,0.25,4.2,0.032,15.0,91.0,0.98988,3.26,0.52,13.1,6,white
3712,5.7,0.33,0.15,1.9,0.050,20.0,93.0,0.99340,3.38,0.62,9.9,5,white
2930,6.8,0.15,0.32,8.8,0.058,24.0,110.0,0.99720,3.40,0.40,8.8,6,white
1176,6.5,0.88,0.03,5.6,0.079,23.0,47.0,0.99572,3.58,0.50,11.2,4,red
3441,8.2,0.18,0.31,11.8,0.039,96.0,249.0,0.99760,3.07,0.52,9.5,6,white
4627,7.5,0.18,0.37,6.2,0.050,21.0,138.0,0.99546,3.20,0.55,10.5,6,white
5576,6.9,0.27,0.25,7.5,0.030,18.0,117.0,0.99116,3.09,0.38,13.0,6,white
6088,6.7,0.48,0.49,2.9,0.030,28.0,122.0,0.98926,3.13,0.40,13.0,6,white
1662,6.6,0.38,0.15,4.6,0.044,25.0,78.0,0.99310,3.11,0.38,10.2,6,white
1571,6.4,0.38,0.14,2.2,0.038,15.0,25.0,0.99514,3.44,0.65,11.1,6,red